body {
	font-family: 'Roboto', 'Helvetica-neue', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
}

.standard-padding {
	padding: 0 25px;
}

:focus {
outline: 0;
}

.margin-top {
  margin-top: 15px;
  float: left;
}

.alert {
  margin-top: 15px;
}

.form-group-front-page {
  padding-right: 25px;
  margin-bottom: 10px;
}

.form-signin {
  padding: 25px;
}

.top-menu-logged-in {
  height: 60px;
  width: 100%;
  background: #fff;
  line-height: 60px;
  font-size: 15px;
  border-bottom: 2px solid #eee;
}

.top-menu-logged-in a {
  color: #333;
}

.top-menu-logged-in a:hover {
  color: tomato;
}

.nav-menu-top-logged-in {
  float: right;
}

.intro-section {
  color: #fff;
  height: 610px;
  background: rgb(0,183,234); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 *//* IE6-9 */
}

.page-header {
  height: auto;
  width: 100%;
  background: #fff;
  margin: 0;
}

.menu-page {
  float: right;
}

.menu-page a {
  padding-left: 15px;
}

.sub-header {
    height: auto;
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 5px;
}

.intro-text-title {
text-align:center;
text-transform:uppercase;
text-rendering:optimizeLegibility;
color:#fff;
letter-spacing:.05em;
text-shadow:4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.01);
  margin-top: 115px;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .intro-text-title {
    margin-top: 75px;
  }
}

.intro-text-sub-title {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 2px;
}

.about-section {
  padding: 25px;
    border-bottom: 3px solid #eee;
}

.references-section {
  background: #eee;
}

.references-section img {
  padding: 20px;
  max-width: 50%;
}

.references-title {
  margin-bottom: 25px;
  font-size: 25px;
  color: #ccc;
}

.circle-step img {
  height: 65px;
  width: 65px;
}

.step-text {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

#loadingImage {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(0,0,0, 0.9);
  z-index: 9999;
  padding: 50px;
  color: #fff;
  font-size: 50px;
}

.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#form-after-submit {
  z-index: 9999999;
  display: none;
  position: fixed;
  top: 25%;
  left: 5%;
  width: 90%;
  min-height: 350px;
  background: #fff;
  margin: 10px auto;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 25px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  float: left;
  margin-top: 10px;
  transition: all .2s;
}

.logo-page {
    color: inherit;
}

.icon-link {
  color: inherit;
  font-size: 25px;
}

.header-bg {
  height: 610px;
  background: url(../images/crowd.svg) repeat-x bottom;
}

.fp-btn {
  margin-top: 20px;
}

.select-event-section {
  padding: 25px;
	background: #F5F7FA;
}

.box.select-event-box {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.headline-section {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.main-page-sub-title {
  font-size: 50px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .main-page-sub-title {
    font-size: 35px;
  }
}

.important-info-list-fp {
  font-size: 18px;
  color: #777;
}

.activity-title-headline {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  float: left;
}

.form-control {
  border: 2px solid #eee;
  height: 45px;
  -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-appearance:none;
}

.form-control:focus {
  outline: 0;
  border: 2px solid rgb(0,183,234);;
  -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-appearance:none;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-appearance:none;
}
.has-error .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-appearance:none;
}

.see-all-link {
  font-size: 35px;
  color: #ccc;
  margin-top: 20px;
  line-height: 75px;
}

.included-in-price {
  font-size: 20px;
  font-weight: 100;
}

.content-section-fp {
  padding: 0 0 50px;
}

.content-section-fp a {
  font-size: 20px;
  font-weight: 100;
}

.content-description {
  margin-bottom: 25px;
}

.activity-image-fp {
  height: 70px;
  width: 70px;
  margin-right: 15px;
}

.activity-image-fp:active {
  zoom: 200%;
}

.activity-price.activity-price-fp {
  color: #ccc;
  font-size: 20px;
  font-weight: 100;
}

.order-now-title {
  font-size: 25px;
}

.admin-background {
  background: #F5F7FA;
}

.admin-box {
  background: #fff;
  height: 100%;
  width: 100%;
  padding: 15px;
   -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.orders-table {
  margin-top: 50px;
}

.admin-box:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.admin-page-title {
  font-size: 20px;
  line-height: 1px;
}

.admin-page-main-title {
  margin-bottom: 25px;
  font-size: 30px;
}

.admin-page-main-title:after {
  content: '';
  width: 55px;
  height: 4px;
  background: tomato;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.admin-page-icon {
  color: tomato;
  font-size: 40px;
  line-height: 1px;
}

.admin-page-link {
  color: inherit;
}

.admin-page-link:hover {
  color: inherit;
}

.admin-page-link:active {
  position:relative;
  top:1px;
}

.margin-bottom-medium {
  margin-bottom: 25px;
}

ul.admin-page-product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

li.admin-activity {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
}

.admin-page-activity-img {
  float: left;
}

.admin-activity-title {
  font-size: 25px;
  font-weight: bold;
  float: left;
  padding-left: 10px;
  padding-top: 5px;
  line-height: 20px;
}

.activity-img {
    float: left;
}

.btn-bottom {
    margin: 0;
}

.admin-activity-title small {
  line-height: 0;
  font-size: 15px;
  font-weight: 300;
}

.small {
  font-size: 13px;
}

.admin-page-activity-btn {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
 }

.log-out-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 13px;
  font-size: 15px;
  background: tomato;
  color: #fff;
  line-height: 1;
  transition: all .3s;
}

.submit-info-section {
  background: #F5F7FA;
}

.submit-section-box {
  padding: 35px;
}

.activity-image {
  max-width: 100%;
}

.activity-title a {
  font-weight: bold;
  font-size: 15px;
  line-height: 0;
}

.activity-title {
    font-size: 25px;
    margin: 0 0 10px 0;
}

.activity-price {
	font-size: 20px;
	font-weight: bold;
}

.activity-description {
  line-height: 1.4;
}

.large-icon {
	font-size: 50px;
	color: #ccc;
}

.copyright {
	color: #ccc;
	line-height: 15px;
}

.radios .radio{
  border-bottom: 2px solid #E94E42;
  cursor: pointer;
  margin-top: 15px;
	padding: 10px;
  background-color: tomato;
  color: #fff;
  display:inline-block;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

label.radio {
	font-size: 18px;
	color: #333;
  padding: 0;
  margin: 0;
  text-align: center;

}

#choice {
	color: teal;
	font-weight: bold;
}

.founder-avatar {
	text-align: center;
	height: 100px;
	width: 100px;
}

.radios input[type=radio]{
	display:none
}

.radios input[type=radio]:checked + .radio {
	color: #fff;
	background: teal;
  border-bottom: none;
  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;
}

fieldset {
  padding: 25px;
  background: #fff;
  margin-top: 25px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/**
 * footer
 * --------------------------------------------------
 */
.footer {
  padding: 40px 0;
  background-color: #434a54; }
  .footer-logo, .footer-nav {
    float: left;
    padding: 0 20px;
    width: 20%; }
  @media (max-width: 768px) {
    .footer-logo {
      margin-bottom: 20px; }
    .footer-logo, .footer-nav {
      float: none;
      display: block;
      width: 100%; } }
  .footer-logo {
    margin-top: -5px;
    height: 32px;
    line-height: 32px; }
    .footer-logo img {
      margin-right: 10px; }
    .footer-logo a {
      font-size: 20px;
      font-weight: bold;
      color: white; }
    .footer-logo a:hover, .footer-logo a:active {
      text-decoration: none; }
  .footer-nav .nav-title {
    margin-bottom: 15px;
    color: #e6e9ed; }
  .footer-nav .nav-item {
    line-height: 28px; }
    .footer-nav .nav-item > a {
      color: #aab2bd; }
    .footer-nav .nav-item > a:hover, .footer-nav .nav-item > a:active {
      color: #ccd1d9;
      text-decoration: none; }
  .footer-copyright {
    color: #aab2bd; }

.footer-subpage {
  clear: left;
  background: #fff;
  border-top: 1px solid #eee;
  text-align: center;
  line-height: 60px;
  color: #ccc;
}

#fadeInGroup {
  margin-bottom: 100px;
}

.highlight-box {
  border: 2px solid tomato;
}

.small-title {
	margin-bottom: 50px;
  font-size: 35px;
}

.bv-form .help-block {
    margin-bottom: 0;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

.btn-fp {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#f5a316;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0px;
  border:1px solid #bd910b;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:125px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #a87000;
  transition: .3s all;
}.btn-fp:hover {
  background-color:#ed9a15;
  color: #fff;
}.btn-fp:active {
  position:relative;
  top:1px;
}

.input-group-addon {
  border: 2px solid #eee;
}

a:hover {
  text-decoration: none;
}

.menu-btn {
  margin-top: 0;
  float: right;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all .2s;
  padding-top: 15px;
}

.menu-btn:before {
  display: none;
  content: "Menu";
  padding-right: 10px;
}

.menu-btn-page {
  color: inherit;
  font-size: 25px;
  padding-top: 15px;
}

.menu-btn-page:before {
  display: none;
  content: "Menu";
  padding-right: 10px;
}

@media (min-width: 768px) { 
  .menu-btn:before {
    display: inline-block;
    content: "Menu";
    padding-right: 10px;
  }

  .menu-btn-page:before {
  display: inline-block;
  content: "Menu";
  padding-right: 10px;
}

 }

#pagination {
  float: left;
  width: 100%;
  text-align: center;
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(0,0,0, 0.8);
  z-index: 9999;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 26px;
  height: 26px;
  margin-top: 65px;
  float: right;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  color: transparent;
  outline: none;
  z-index: 9999;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 40%;
  height: 60%;
  font-size: 45px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: rgb(0,183,234);
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

.item-category-page img {
    width: 100%;
}

.box {
    margin: 15px 0 15px 0;
    float: left;
    padding: 10px;
    height: 100%;
    width: 100%;
    background: #fff;
    border-bottom: 3px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
}

.box:focus {
      outline: 0;
}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  height: 100%;
  width: 100%;
  direction: ltr;
  cursor: pointer;
}
.fileinput {
  margin-bottom: 9px;
  display: inline-block;
}
.fileinput .form-control {
  padding-top: 7px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.form-control .fileinput-filename {
  vertical-align: bottom;
}
.fileinput.input-group {
  display: table;
}
.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}
.fileinput.input-group > .btn-file {
  z-index: 1;
}
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #8a6d3b;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #a94442;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #3c763d;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}
